.Form {
    height: 100%;
    width: 100vh;
    background-color: var(--background-color);
    transition: background-color 250ms ease-in-out;
}
.Button {
    stroke-width: 2dvh;
    background-color: rgb(71, 220, 88);
    transition: background-color 250ms ease-in-out;
}