.about {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    padding-top: 3rem;
    background-color: var(--background-color);
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    padding-top: 5%;
}
.about-title {
    font-weight: 500;
    justify-content: flex-start;
    margin-top: -3rem;
    padding: 20px;
}
.about-main {
    display: flex;
    padding: 4rem;
    gap: 20px;
}
.about-data {
    display: flex;
    align-self: center;
    border: 10px solid gray;
    margin: 0 auto;
    box-shadow: 10px 12px 30px 4px ;
}

.about-intro {
    font-size: 18px;
    font-weight: 500;
}
.about-skillset {
    display: flex;
    flex-direction: column;
    padding-left: 1.3rem;
}

.about-skill {
    display: flex;
    gap: 20px;
    align-items: center;
    transition: 0.3s;
}
.about-skill-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex: auto;
}
.about-skill h3 {
    min-width: 160px;
    font-size: 24px;
    font-weight: 500;
}

.skill-line {
    width: 50%;
    height: 10px;
    border-radius: 50px;
    border: none;
    color:cornflowerblue;
    background: -webkit-linear-gradient(left, red, blue);
}

.achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 70px auto;  
    margin-top: 10% auto; 
    padding-bottom: 10%;
    padding-top: 10%;
}
.achievement-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.achievements hr {
    border-left: 2px solid var(--primary-text-color);
}

@media (max-width: 768px) {
    .about-main {
        flex-direction: column;
        align-items: center;
    }
    .about-intro {
        font-size: 14px;
    }
    .about-skill h3 {
        font-size: 19px;
        font-weight: 600;
    }
    .achievements {
        justify-content:center;
    }
}